body{
    padding: 0;
    margin: 0;
}

.nav-bar{
    /* Position*/
    position:fixed;
    width: 100%;
    height: 11vh;
    z-index: 100;

    /*color*/
    background-color: #101820;
    
    /* structure*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    /* display*/
    display: flex;
    align-items: center;
    justify-content: start;

    /* background-color: blue; */
    width: 15%;
    height: 100%;
    margin-left: 50px;
}

.nav-menu{
    width: 70%;
    margin-right: 30px;
}

.nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content:space-around;
}

.nav-list > li{
    margin: 10px;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-weight: bold;
}

/* DIV HEADLINE */

.headline-bg{
    position: static;
    width: 100%;
    height: 110vh;
    margin-bottom: 0;
    /* z-index: 0; */
}

.headline-bg > img {
    width: 100%;
    height: 100%;
}

.headline{
    /*Positioning*/
    position: relative;
    width: 50%; 
    margin-left: 150px;
    margin-right: auto;
    bottom: 500px;
}

.headline p {
    /*Font Styling*/
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    color: white;
}

/* HEADLINE 2*/
.section-2{
    width: 100%;
    height: 30vh;
    /* margin-top: 0px; */
    background-color: #101820;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    margin-top: 0;
    margin-bottom: 15px;

    /*Font Styling*/
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    color: white;
}

.section-2 div button{
    padding: 9px 25px;
    color: white;
    background-color: #01880D;
    border: none;
    border-radius: 50px;

     /*Font Styling*/
     font-family: "Poppins", sans-serif;
     font-weight: 600;
     font-style: normal;
     font-size: 1rem;
     color: white;
}


/* SECTION 3*/
#section-3{
    position: relative;
}

#separator{
    height: 20vh;
    background-color: #101820;
    position: relative;
    
}

#first-separator{
    background-color: #101820;
    width: 100%;
    height: 50%;
}

#second-separator{
    background-color: white;
    width: 100%;
    height: 50%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}



.contents{
    /* background-color: #101820; */
    position: absolute;
    background-color: transparent;
    width: 80%;
    height: 20vh;
    margin-left: 10%;
    margin-right: 10%;
    top: 0;


    /*Display*/
    display: grid;
    grid-template-columns: repeat(4, 25%);
    /* justify-items: center; */
    /* place-items: center; */
}

.svg-div{
    display: flex;
    justify-content: center;
}
.svg-div > img{
    width: 50%;
    height: 100%;
    
}

.contents h3{
   

    /*Font Styling*/
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.6rem;
    color: #101820;
    text-align: center;

}

.contents p{
    /*Font Styling*/
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    color: #101820;
    text-align: center;
}